body{
    overflow: hidden;
}
.login-form{
    padding: 1% 2%;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    left: 50%;
}
h1{
    font-size: 40px;
    font-family: 'Montserrat';
}
input, button{
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
button{
    background-color: #749937;
	color: white;
	padding: 10px 30px;
	font-size: 15px;
    border: 0px;
    margin-bottom: 15%;
}
